<div class="sidebar sidebar-collapse" id="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li>
                <a href="<%- locals.base %>dashboard/demo-one/<%- locale %>" class="<%- name === 'blank' ? 'active':'' %>">
                    <span class="nav-icon uil uil-circle"></span>
                    <span class="menu-text"><%- __('blank-menu-title') %></span>
                </a>
            </li>
        </ul>
    </div>
</div>

